.disk {
    background-color: #b22222;
    border-radius: 10px;
    border: black;
    position: absolute;
}

div.base {
    width: 300px;
    background-color: #1b1b1b;
    border-radius: 10px;
    border: #d3d3d3;
    position: absolute;
}

div.diskContainer {
    float: left;
    height: 600px;
}

div.pole {
    background-color: #1b1b1b;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: #d3d3d3;
    position: absolute;
}
